@import 'bourbon/bourbon';
@import 'vars.scss';

/*
 * style.css
 * copyright 2013 Janson Hartliep
 *
 * Table of Contents
 * - Base Styles
 * - Abstract Classes
 * - Site Banner
 * - Site Footer
 * - Main Content
 * 
 * ----------------------------------------------------------------*/
/* -----------------------------------------------------------------
 * Base Styles
 * ----------------------------------------------------------------*/
  *, *:before, *:after {
    @include box-sizing(border-box);
  }

  html {
    font-size: $base_font;
    height: 100%;
    background: url(img/bg-background.jpg) repeat 0 0, $background;
  }

  body {
    height: 100%;
    width: 100%;
    margin: 0;
    font: normal 400 1.2rem / 1.666666667 $helvetica;
    color: #b0b0b0;
  }

  h1 {
    @extend %base_heading;
    margin: 1em 0;
  }
  h2 {
    @extend %base_heading;
    font-size: 1.4rem;
    line-height: 1.714285714;
    color: #46a4d5;
  }
  h3 {
    @extend %base_heading;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: none;
  }

  a {
    @include transition( all 333ms ease-out );
    color: $light_blue;
    text-decoration: none;

    :hover {
      color: $highlight_blue;
      text-decoration: underline;
    }
  }

  img, audio, video {
    max-width: 100%;
    height: 100%;
  }

  ul, ol {
    list-style: none;
    padding: 0;

    li {
      padding-bottom: .5em;
      border-bottom: 1px solid $border;
    }
  }

  article {
    background: $white;
    position: relative;
    padding: 3rem 3rem 1rem;
    margin-bottom: 3rem;
    margin-left: 10rem;
    @include box-shadow( 0 1px 1px $shadow );

    h1{
      text-transform: none;
      font-size: 1.8rem;
      font-weight: bold;
      margin: 0;
    }

    header{
      p{
        text-transform: uppercase;
        font-size: 1rem;
      }

      time{
        position: absolute;
        top: 0;
        left: -10rem;
        font: normal 400 2rem / 1.2 $sans_family;
        text-align: center;
        background: $light_blue;
        color: $white;
        border-radius: 50%;
        height: 7rem;
        width: 7rem;
        padding-top: 1.5rem;

        sub{
          display: block;
          text-transform: lowercase;
          font-size: 1.2rem;
          font-weight: 300;
        }
      }
    }
  }
